name: Build and publish docker images

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build docker image
        uses: docker/build-push-action@v2.5.0

      - name: Publish Docker Image to Github packages
        uses: matootie/github-docker@v3.1.0
        id: publish
        with:
          accessToken: ${{ github.token }}
          imageName: docker-diagrams 
          tag: |
            latest
            ${{ github.sha }}
            v0.22.0

      - name: Print Image URL
        run: echo ${{ steps.publish.outputs.imageURL }}:${{ github.sha }}